.btn { 
    font-weight: 700;
    text-align: center;
    font-size: 15px;
    padding: 20px 45px;

    border: 1px solid transparent;
    border-radius: 5px;

    cursor: pointer; 
    transition: background-color 650ms linear, color 250ms liner;
}

.btn:hover { 
    background-color: rgb(255, 183, 0);
    color: white;
}

.btn:not(:last-child) {
    margin-right: 10px;
}